    {# Aquest boci de codi llista els items #}
    {% for fila in files %}
	<tr>
            <td>{{fila.id}}</td><td>
	    <td>{{fila.nom}}</td>
	    <td>{{fila.preu}}</td>
            <td><a href="{{ path('addedit_item', {'id': fila.id}) }}"><img src="{{ asset('images/edit.jpg') }}" /></a></td>
            <td><img src="{{ asset('images/delete.gif') }}" /></td>
	</tr>	
    {% endfor %}
