{% extends "ESDIBInventariBundle:Items:layout.html.twig" %}

{% block select_rows %}
        <select id="max_rows">
            <option value="5"  {{select_rows[0]}}> 5</option>
            <option value="10" {{select_rows[1]}}>10</option>
            <option value="15" {{select_rows[2]}}>15</option>
            <option value="20" {{select_rows[3]}}>20</option>
        </select>
{% endblock %}

{% block username %}
    {{ app.user.username }}
{% endblock %}

{% block listing %}
    {% include 'ESDIBInventariBundle:Items:itemsX.html.twig' %}
{% endblock %}